* {
    margin: 0;
    padding: 0;
}

body {
    background: url('./Images/background.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 90%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #121212aa;
    color: #fafafc;
}

footer > a,
footer > a:active,
footer > a:visited {
    color: #fafafc;
}

.main-interface {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
}