* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-body-width: 500px;
}

body {
    background: url('./Images/background.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 90%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #121212aa;
    color: #fafafc;
}

footer > a,
footer > a:active,
footer > a:visited {
    color: #fafafc;
}

.main-interface {
    width: var(--main-body-width);
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto 2fr;
    gap: 8px;
}

section.search-bar {
    display: flex;
    width: var(--main-body-width);
    justify-content: space-between;
    gap: 12px;
}

section.search-bar > input[type="text"] {
    padding: 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #111827;
    color: #f9fafb;
    font-family: inherit;
    font-size: 1.2rem;
    flex: 1 1 auto;
}

section.search-bar > button {
    background-color: #111827;
    border: none;
    border-radius: 100%;
    width: 50px;
    color: #f9fafb;
    font-size: 1.3rem;
    cursor: pointer;
}

section.search-bar > button:hover {
    background-color: #1f2937;
}

section.search-bar > button:active {
    background-color: #030712;
}

h2.place-name {
    font-size: 1.6rem;
}

.weather-display {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 150px;
    align-items: center;
}

.glass-background {
    background-color: rgba(51, 65, 85, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #e2e8f0;
    padding: 16px;
    cursor: default;
}

.temperature-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.temperature-display > h3 {
    font-size: 1.8rem;
}
